@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

a {
  text-decoration: none;
}

.website {
  width: 95%;
  margin: auto;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipText {
  visibility: hidden;
  position: absolute;
  width: 6.5em;
  left: -2.1875em;
  bottom: -60%;
  border: 1px solid #000000;
  border-radius: 1em;
  background-color: #ffffff;
  text-align: center;
  font-size: 1rem;
  color: #123456;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

.clickable{
  height:100%;
  width:100%;
}


.clickable:hover, .clickableRound:hover{
  border:5px solid #ffffff;
}

/* Header (logo, nav) */
.header {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-bottom: 4px solid #778899;
  background-color: #123456;
  color: #ffffff;
}

.header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.header nav li a {
  padding-left: 0.5em;
  color: #ffffff;
}

.header nav li a:hover {
  text-decoration-line: underline;
  color: #b7d0df;
}

/* Intro (portraitContainer, textContainer) */
.intro {
  position: relative;
  display: flex;
  height: 250px;
  border-bottom: 4px solid #778899;
  background-color: #b7d0df;
}

.intro .topLeftCorner {
  position: absolute;
  top: 0;
  left: 0;
  color: #2B547E;
}

.intro .bottomRightCorner {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #2B547E;
}

.intro .portraitContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.intro .textContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.intro .text {
  padding-left: 1em;
}

.intro .greeting {
  font-size: 1.5rem;
}

.intro .greeting strong {
  font-size: 2rem;
  color: #123456;
}

.intro .field {
  margin-top: 0.25em;
}

.intro .field a {
  padding: 0.125em 0.5em 0.125em 0.5em;
  background-color: #123456;
  font-size: 1.25rem;
  color: #ffffff;
}

.intro .field a:hover {
  background-color: #ffffff;
  color: #123456;
}

.intro .bubbles {
  display: flex;
  margin-top: 0.75em;
}

.intro .bubble {
  width: 0.75em;
  height: 0.75em;
  border: 1px solid #123456;
  border-radius: 100%;
  background-color: #123456;
}

.intro .blank {
  width: 0.75em;
  height: 0.75em;
}

#clickableBubble {
  background-color: #ffffff;
}

#clickableBubble:hover {
  background-color: #123456;
}

/* Art (upperDisplayContainer, lowerDisplayContainer)*/
.art .upperDisplayContainer {
  display: flex;
  height: 300px;
  border-bottom: 4px solid #778899;
  background-color: #123456;
}

.art .symbolContainer {
  height: 100%;
  width: 25%;
}

.art .symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.art .symbol img {
  height: 90%;
  width: 90%;
}

.art .bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.art .banner {
  height: 90%;
  width: 90%;
  background-image: url("https://i.ibb.co/NtksWj1/Holo-Fusions-Banner.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

.art .lowerDisplayContainer {
  display: flex;
  justify-content: space-around;
  height: 500px;
  border-bottom: 4px solid #778899;
  background-color: #b7d0df;
}

.art .featureContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 25%;
}

.art .feature {
  height: 90%;
  width: 90%;
  background-image: url("https://i.ibb.co/dM0Pjph/elena-Coffee.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

.art .showcaseContainer {
  height: 100%;
  width: 60%;
}

.art .showcaseBox {
  margin: auto;
  display: flex;
  align-items: center;
  height: 50%;
  width: 75%;
}

.art .itemContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90%;
}

.art .item, .art .cornerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: 5px solid #778899;
  border-radius: 100%;
  background-color: #ffffff;
}

.art .item img {
  height: 85%;
  width: 85%;
}

.art .cornerItem img {
  height: 65%;
  width: 65%;
}

.art .item:hover, .art .cornerItem:hover {
  border: 5px solid #ffffff;
}


.art .connectionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 7.5%;
}

.art .connectionsBox {
  padding:0.5em;
  background-color:#123456;
  text-align:center;
}

.art .connectionsBox a{
  color:#ffffff;
}

.art .connectionsBox a:hover{
  color:#b7d0df;
}

/* Footer (contactContainer, tooltipContainer)*/
.footer {
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #123456;
}

.footer .tooltipContainer, .footer .contactContainer {
  display: flex;
  align-items: center;
}

.footer .contact {
  color: #ffffff;
}

.footer .contact a {
  color: #ffffff;
}

.footer .contact a:hover {
  color: #b7d0df;
}

.footer .tooltipBox {
  float: right;
}

/*
Color Schema:
Dark Blue: #123456
Moderate Blue: #2B547E
Sky Blue: #b7d0df
Slate: #778899
*/
