@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

a {
  text-decoration: none;
}

.website {
  width: 95%;
  margin: auto;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipText {
  visibility: hidden;
  position: absolute;
  width: 6.5em;
  left: -2.1875em;
  bottom: -60%;
  border: 1px solid #000000;
  border-radius: 1em;
  background-color: #ffffff;
  text-align: center;
  font-size: 1rem;
  color: #123456;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

/* Header (logo, nav) */
.header {
  display: flex;
  justify-content: space-between;
  padding-left:0.5em;
  padding-right: 0.5em;
  border-bottom: 4px solid #778899;
  background-color: #123456;
  color: #ffffff;
}

.header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.header nav li a {
  padding-left: 0.5em;
  color: #ffffff;
}

.header nav li a:hover {
  text-decoration-line: underline;
  color: #b7d0df;
}

/* Intro (portraitContainer, textContainer) */
.intro {
  position: relative;
  display: flex;
  height: 250px;
  border-bottom: 4px solid #778899;
  background-color: #b7d0df;
}

.intro .topLeftCorner {
  position: absolute;
  top: 0;
  left: 0;
  color:#2B547E;
}

.intro .bottomRightCorner {
  position: absolute;
  right: 0;
  bottom: 0;
  color:#2B547E;
}

.intro .portraitContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:50%;
}

.intro .textContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width:50%;
}

.intro .text{
  padding-left: 1em;
}

.intro .greeting {
  font-size: 1.5rem;
}

.intro .greeting strong {
  font-size: 2rem;
  color: #123456;
}

.intro .field{
  margin-top:0.25em;
}

.intro .field a {
  padding: 0.125em 0.5em 0.125em 0.5em;
  background-color: #123456;
  font-size: 1.25rem;
  color: #ffffff;
}

.intro .field a:hover {
  background-color: #ffffff;
  color: #123456;
}

.intro .bubbles {
  display: flex;
  margin-top: 0.75em;
}

.intro .bubble {
  width: 0.75em;
  height: 0.75em;
  border: 1px solid #123456;
  border-radius: 100%;
  background-color: white;
}

.intro .blank {
  width: 0.75em;
  height: 0.75em;
}

#currentBubble {
  background-color: #123456;
}

/* Footer (contactContainer, tooltipContainer)*/
.footer {
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #123456;
}

.footer .tooltipContainer, .footer .contactContainer {
  display: flex;
  align-items: center;
}

.footer .contact {
  color: #ffffff;
}

.footer .contact a {
  color: #ffffff;
}

.footer .contact a:hover {
  color: #b7d0df;
}

.footer .tooltipBox {
  float: right;
}

/*
Color Schema:
Dark Blue: #123456
Moderate Blue: #2B547E
Sky Blue: #b7d0df
Slate: #778899
*/
